<!DOCTYPE html>
<html>
<head>
    <title>压力测试</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../plugins/fileinput/css/fileinput.min.css"/>
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../libs/ajaxupload.js"></script>
    <script src="../../js/common.js"></script>
    <script type="text/javascript" src="../../plugins/fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="../../plugins/fileinput/js/locales/zh.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn" style="height:34px;">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.caseName" @keyup.enter="query" placeholder="用例名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
            <a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <!--<a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="runOnce"><i class="fa fa-arrow-circle-right"></i>&nbsp;启动</a>-->
            <!--<a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="stop"><i class="fa fa-stop"></i>&nbsp;停止</a>-->
            <!--<a v-if="hasPermission('test:stress')" class="btn btn-primary" @click="stopNow"><i class="fa fa-times-circle"></i>&nbsp;强制停止</a>-->
            <!--<a v-if="hasPermission('test:stress')" class="btn btn-danger" style="float:right;" href="stressTestFile.html">脚本文件列表</a>-->
            <!--<a v-if="hasPermission('test:stress')" class="btn btn-danger" style="float:right;" href="stressTestReports.html">测试报告</a>-->
            <!--<a class="btn btn-danger" style="visibility:hidden;float:right;" href="javascript:void(0)">格式填充</a>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showEdit" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">用例名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stressCase.caseName" placeholder="用例名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">项目</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stressCase.project" placeholder="项目名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">模块</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stressCase.module" placeholder="模块"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">操作人</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stressCase.operator" placeholder="实际使用用例的人"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <textarea class="form-control" v-model="stressCase.remark" rows="6" placeholder="描述">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
    <div v-show="showUpload" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <input id="files" name="files" class="file-loading" type="file" multiple data-show-caption="true"/>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-warning" @click="reload" value="结束返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/test/stressTest.js"></script>
</body>
</html>